body{
    margin: 0%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
    grid-template-areas: "wyp historia";
    color: white;
}
#wyp{
    grid-area: wyp;
    background-color: #82b2da;
    padding-top: 100px;
    overflow-y: scroll;

}
#historia{
    grid-area: historia;
    background-color: #accfeb;
    overflow-y: scroll;
}
.ksiazkii{
    height: 150px;
    width: 250px;
    background-color: #82b2da;
    border-radius: 10px;
}
#prof{
    color: #5f91b9;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 100px;
    width: 250px;
    background-color: #b9e0ff;
    border: 2px solid #5f91b9;
    border-radius: 15px;
}
